{% extends 'base.html' %}
{% block title %}{{type}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
 
<form class="w-50 m-auto mb-4 mt-4 p-4 bg-secondary align-items-center rounded-3"  method="post">
    <h1 class="bg-warning m-3 p-2 d-flex justify-content-center rounded-3">This is {{type}} page</h1>
    {% csrf_token %}
    <!-- {{form | crispy}} -->
    {% for i in form %}
    {{i.label_tag}}
    {{i}}
    {{i.errors|striptags}}
    {% endfor %}
    <button class="btn btn-danger mt-2">Submit</button>
    <a class="btn btn-primary mt-2" href="{% url 'pass_change_page' %}">Update Password</a>
    <a href="{% url 'pass_change_2_page' %}" class="btn btn-success mt-2">Set Password</a>
</form>
{% endblock%}